#accessibility-bar {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		display: inline-block;

		a {
			color: #fff;
			text-transform: uppercase;
			position: relative;
			padding: 0 20px 0 25px;
			font-size: 11px;
			line-height: 19px;
			display: block;
		}

		&.high-contrast,
		&.vlibras{
			position: relative;

			a:before{
				content: "";
				position: absolute;
				left: 0;
				background-image: url(../../img/sprite.png);
				background-position: -268px -149px;
				width: 18px;
				height: 18px;
				-webkit-filter: none;
				filter: none;
			}
		}

		&.high-contrast a{
			border-right: 1px solid hsla(0,0%,100%,.2);
		}

		&.vlibras{
			a:before {
				background-position: -268px -223px;
			}
		}

	}
}