#main-navigation {

	.menu-toggle {
		cursor: pointer;
		text-indent: -3000px;
		height: 25px;
		-webkit-filter: none;
		filter: none;
		background-image: url(../../img/sprite.png);
		background-position: -178px -159px;
		width: 28px;
		border: none;
		background-color: transparent;
	}

}